---
layout: master.hbs
title: Our team
---
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>

			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><a href="#">Pages</a></li>
				<li class="active">About Our Team</li>
			</ul><!-- /breadcrumb -->

			<h2><!-- Page Title -->
				<strong>About</strong> Our Team
			</h2><!-- /Page Title -->

		</header>

	</div>
</section>
<!-- /PAGE TOP -->

<section>
	<div class="container">

		<p class="lead">Meet the core Akka.NET team below.</p>

		<div class="row">

			{{#each team}}
			<div class="col-sm-4 col-md-3 fadeInUpBig">
			    <div class="box-content thumbnail text-center">
			        <span class="item-image">
			            <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/{{this.github_user_num}}?v=2&amp;s=460" alt="">
			        </span>
			        <div class="caption text-left">
			            <div class="clearfix margin-bottom10">
			                <div class="pull-left">
			                    <h4 class="nomargin">{{this.name}}
			                        <small class="block">{{this.title}}</small>
			                    </h4>
			                </div>
			                <div class="pull-right">
			                    <a href="{{this.twitter}}" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
			                    <a href="{{this.github}}" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
			                </div>
			            </div>
			            <p class="noborder nomargin nopadding team-desc">{{{this.description}}}</p>
			        </div>
			    </div>
			</div>
			{{/each}}

		</div>

		<p class="lead">Full list of contributors.</p>

		<div class="row" ng-app="app">
			<div ng-controller="TeamController as team">
			<div ng-repeat="person in team.contributors">
			<div class="col-sm-4 col-md-3 fadeInUpBig" ng-controller="ContributorController as contributor"><!-- member -->
				<div class="box-content thumbnail text-center" ng-controller="ContributorController as contributor">
					<span class="item-image">
						<img class="img-responsive" ng-src="[[person.author.avatar_url]]" alt="" style="width:255px">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">[[contributor.data.name || "-"]]
									<small class="block">[[person.author.login]]</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="[[person.author.html_url]]" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding team-desc">Commits: [[person.total]]</p>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
	</div>
</section>
<script>
var app = angular.module('app', []);

app.config(function($interpolateProvider){
	$interpolateProvider.startSymbol('[[').endSymbol(']]');
});

app.controller('TeamController', function($http) {
	var team = this;

	$http.get('https://api.github.com/repos/akkadotnet/akka.net/stats/contributors').
	success(function(data, status, headers, config) {
		team.contributors = data;
		team.contributors.sort(function(a,b)
					{
						return b.total-a.total;
					});
	}).
	error(function(data, status, headers, config) {
		// called asynchronously if an error occurs
		// or server returns response with an error status.
	});
});
app.controller('ContributorController', function($scope,$http) {
	var contributor = this;

	$http.get($scope.person.author.url).
	success(function(data, status, headers, config) {
		console.log(data);
		contributor.data = data;
	}).
	error(function(data, status, headers, config) {
		// called asynchronously if an error occurs
		// or server returns response with an error status.
	});

});
</script>
