<div id="header">
  <header id="topBar">
    <div class="container">

      {{!--
      <div class="pull-right fsize13 margin-top10 hide_mobile">
        <!-- mail , phone -->
        <a href="mailto:{{site.email}}">{{site.email}}</a> &bull;

        <div class="block text-right"><!-- social -->
          <a href="{{site.facebook_url}}" class="social fa fa-facebook"></a>
          <a href="{{site.stack_overflow_url}}" class="social fa fa-stack-overflow"></a>
          <a href="{{site.twitter_url}}" class="social fa fa-twitter"></a>
        </div><!-- /social -->
      </div>
      --}}

      <!-- Logo -->
      <a class="logo" href="/">
        <img src="{{site.logo_path}}"  alt="" style="padding-top:0px;padding-left: 5px;" />
      </a>

    </div><!-- /.container -->
  </header>
  {{> nav}}
</div>